body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

#app {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#clock, #login-form, #welcome-message, #todo-form, #weather {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}
